.promptComponent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    /* quick fix no 123456 */
    padding-left: 300px

}

.output-box {
    max-width: calc(100% - 40px);
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;
}


